.added_to_cart {
	display: none;
}

.woocommerce-MyAccount-navigation {
	border-bottom: 1px solid $color__text-main;
	padding: 0 0 1rem 0;
	margin: 0 0 1rem 0;
	a {
		font-family: $font__helvetica__cb;
		color: $color__text-main;
		&:hover,
		&.focus {
			background: $color__text-main;
			color: $color__background-body;
		}
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		flex-flow: row wrap;
		li {
			margin: 0 2rem 0 0;
			&.woocommerce-MyAccount-navigation-link--customer-logout {
				a {
					color: #d22626;
				}
			}
		}
	}
}
.form-row {
	.btn {
		margin: 0 2rem 0 0;
	}
}
#authMyAccount {
	display: flex;
	align-items: center;
	.woocommerce-form__label {
		input#rememberme {
			display: inline-block;
			width: auto;
		}
	}
}



form.cart{
	display : flex;
	align-items: center;
	margin: 0 0 2rem 0;

	input[type="number"]{
		width: 70px;
		text-align: center;
		margin :	0 1rem 0 0;
	}

	button{
		border-style: solid;
		border-width: 0;
	}
}

form.variations_form{
	display : block;
	margin: 0 0 2rem 0;

	input[type="number"]{
		width: 70px;
		text-align: center;
		margin :	0 1rem 0 0;
	}

	button{
		border-style: solid;
		border-width: 0;
	}
}

.woocommerce-MyAccount-navigation-link--customer-logout {
	color: #d22626;
}

.shop_table {
}

.woocommerce-address-fields {
	display: flex;
	flex-flow: column wrap;
	.woocommerce-address-fields__field-wrapper {
		width: 100%;
		p {
			width: 100%;
		}
		label {
			display: none;
		}
		input,
		.select2-selection {
			display: block;
			border-radius: 0;
			border: none;
			border-bottom: 1px solid black;
			width: 100%;
			font-family: $font__archer__m;
		}
		.btn {
			margin: 1rem 0;
		}
	}
}

.woocommerce-MyAccount-content {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	form {
		width: 50%;
	}
	p {
		width: 100%;
	}
	label {
		display: block;
	}
	input,
	.select2-selection {
		display: block;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid black;
		width: 100%;
		font-family: $font__archer__m;
	}
	.btn {
		margin: 1rem 0;
	}
}
/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	@include clearfix;

	.cart-contents {
		text-decoration: none;
	}

	/*header cart */

	a.cart-contents {
		position: relative;
		top: -0.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 40px;
		position: relative;
		margin: 0;
		padding: 0;
		z-index: 1000;
		&:hover {
			background: transparent;
			color: $color__text-main;
			&:after {
				width: 85px;
				height: 85px;
				transition: all 0.1s ease-in-out;
			}
			svg {
				fill: $color__text-main;
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 0px;
			height: 0px;
			background: $color__background-button;
			z-index: -1;
			border-radius: 50px;
			transition: all 0.1s ease-in-out;
		}
		&:before {
			// content: "Panier";
			position: absolute;
			font-size: 0.8rem;
			top: 1rem;
		}
		.wording {
			font-family: $font__helvetica__cb;
			margin-top: 10px;
		}
		.icon {
			width: 60px;
			height: 60px;
			position: absolute;
			left: 0;
		}
		.count {
			position: absolute;
			top: 0;
			right: -10px;
			color: white;
			background: #000;
			padding: 0;
			line-height: 0;
			border-radius: 45px;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	#mini_cart_toggle{
		text-align: right;
		display: inline-block;
		.cartClose{
			display: flex;
			flex-flow: row;
			justify-content: flex-end;
			align-items: center;
		}
		.icon{
			width: 15px;
			height: 15px;
			margin-right: .5

			rem;
		}
	}

	.woocommerce-mini-cart__empty-message{
		text-align: center;
	}

	.widget_shopping_cart {
		position: fixed;
		padding-top: 60px;
		z-index: 0;
		width: 40%;
		right: -40%;
		background: rgba(255, 255, 255, 1);
		transition: all 0.3s ease-in-out;
		height: 100%;
		&.is-active {
			right: 0;
			transition: all 0.3s ease-in-out;
		}
		ul li {
			padding: 0;
			margin: 0;
		}
		.widget_shopping_cart_content {
			background: $color__background-body;
			.cart_list {
				display: flex;
				flex-flow: column wrap;
				width: 100%;
				z-index: 10;
				background: $color__background-body;
				.mini_cart_item {
					display: flex;
					justify-content: space-between;
					padding: 1rem;
					margin: 0;
					font-family: $font__main;
					max-height: 100px;
					align-items: center;
					border-bottom: 1px solid $color__text-main;
					a {
						color: #000;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						font-size: 12px;
						&:hover {
							background: #cccccc;
						}
						img {
							margin: 0 0.5rem 0 0;
							height: 100%;
							width: 70px;
						}
					}
					span.quantity {
						display: flex;
						justify-content: flex-end;
						width: 200px;
						text-align: right;
					}
					dl.variation {
						font-size: 12px;
					}
					.remove {
						order: 2;
						display: flex;
						text-align: left;
						text-decoration: none;
						font-size: 15px;
						color: #d22626;
						width: 20px;
						height: 20px;
						justify-content: center;
						align-items: center;
						border-radius: 50px;
						padding: 0;
						text-transform: uppercase;
						flex-flow: row;
						&:hover {
							background: #d22626;
							color: $color__background-body;
							width: 20px;
							height: 20px;
						}
					}
				}
			}
			.total {
				margin-left: 1rem;
			}
			.woocommerce-mini-cart__buttons {
				margin-left: 1rem;
				.btn:hover {
					background: $color__background-body;
				}
			}
		}
	}

	.product_list_widget {
		margin: 0;
		padding: 0;
	}
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	&:before {
		content: '\53\53\53\53\53';
		opacity: 0.25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: '\53\53\53\53\53';
		top: 0;
		position: absolute;
		left: 0;
		color: $color__link;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: 'star';
			content: '\53';
			color: $color__text-main;
			text-indent: 0;
			opacity: 0.25;
		}

		&:hover {
			~ a:before {
				content: '\53';
				color: $color__text-main;
				opacity: 0.25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: '\53';
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: '\53';
				color: $color__link;
				opacity: 1;
			}

			~ a:before {
				content: '\53';
				color: $color__text-main;
				opacity: 0.25;
			}
		}

		a:not(.active) {
			&:before {
				content: '\53';
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			display: block;
			margin: 0;
			position: relative;

			a {
				padding: 1em 0;
				display: block;
			}
		}
	}

	.panel {
		h2:first-of-type {
			margin-bottom: 1em;
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
	display: none !important;
}
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	background-color: $woocommerce__color-success;
	clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $woocommerce__color-info;
}

.woocommerce-error {
	background-color: $woocommerce__color-error;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}

// Mon compte

a.monCompte {
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		font-family: $font__helvetica__cb;
	}
	.icon {
		width: 30px;
		margin: 0 0.5rem 0 0;
	}
}

@media screen and (max-width: 1200px) {
	/**
	 * Header cart
	 */
	.site-header-cart {
		/*header cart link*/

		a.cart-contents {
			position: fixed;
			top: 1rem;
			right: 1rem;
			&:hover {
				background: transparent;
				color: $color__text-main;
			}
			&:after {
				content: '';
				display: none;
			}
			.wording {
				margin-top: 30px;
			}
		}
		.widget_shopping_cart {
			width: 100%;
			top: 0;
			right: -100%;
			z-index: 100;

			&.is-active {
				right: 0;
				display: block;
			}
		}
	}
	a.monCompte {
		justify-content: flex-start;
	}
}
