/**
 * Shop tables
 */
table.shop_table_responsive{
	thead {
	}

	tbody {
		th {
		}
	}

	tr {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		border-bottom: 1px solid #ccc;
		justify-content: space-between;

		td {
			display: flex;
			flex-flow: row wrap;
			align-items: center;

			border : none !important;

			&.product-thumbnail{
				justify-content: flex-start;
				flex-basis: 40%;
			}

			&.product-quantity{
				justify-content: flex-end;
				flex-basis: 40%;
				input{

				}
				.product-price{
					margin: 0 1rem 0 0;
				}
			}

			&.product-remove {
					justify-content: flex-end;
					flex-basis: 20%;
				a {
					text-align: left;
				}

				&:before {
					display: none;
				}
			}

			&.actions,
			&.download-actions {
				&:before {
					display: none;
				}
			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			th, td {
				text-align: left;
			}

			td {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: center;

				&.product-thumbnail{

				}
				&.product-quantity{

					input{

					}
				}
				&:before {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			flex-flow: column wrap;
			align-items: flex-start;
			padding:  0 1rem;
			th, td {
				text-align: left;
			}

			td {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: center;

				&.product-thumbnail{
					padding: 1rem 0 0 0;

					a{
						margin: 0 1rem 0 0;
					}
				}

				&.product-quantity{

					.product-price{
						margin: 0 1rem 0 0;
					}
					width: 100%;
					justify-content: space-between;
					input{
						text-align: center;
						max-width: 90px;
					}
				}

				&.product-remove{
					width: 100%;
					justify-content: space-between;
					&.remove{
						width: 50px;
						height: 50px;
					}
				}

				&:before {
					display: none;
				}
			}
		}
	}

	.cart_totals {
    width: 100%;
    text-align: right;
    padding: 0 1rem;
	}
}
